@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bu sistemde kullanıcı bilgileri sadece güvenli giriş işlemleri için kullanılır ve gizli tutulur.
</p>
